<section class="md:grid md:grid-cols-3 h-24 items-center justify-center mx-10">
  <p
    routerLink="/"
    class="font-LotaGrotesque font-bold text-2xl w-fit hover:opacity-90 transition-opacity ease-in-out cursor-pointer"
  >
    <span class="text-red-600 text-xl cursor-pointer">.</span>Nullable
  </p>
  <nav>
    <ul class="flex flex-row gap-10 content-center items-center">
      <li
        class="font-IBMPlexMono font-semibold text-sm hover:text-indigo-600 hover:underline transition-all duration-200 ease-in-out cursor-pointer"
      >
        Find Designers
      </li>
      <li
        class="font-IBMPlexMono font-semibold text-sm hover:text-indigo-600 hover:underline transition-all duration-200 ease-in-out cursor-pointer"
      >
        Inspiration
      </li>
    </ul>
  </nav>
  <div class="flex flex-row gap-6 items-center justify-end">
    @if (currentUser.isError()) {
    <a
      class="text-black font-IBMPlexMono text-sm font-medium"
      routerLink="/session"
      >Log In</a
    >
    <button
      class="font-IBMPlexMono w-fit text-white bg-gray-950 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-6 py-4 dark:bg-gray-950 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700 transition-all duration-200 ease-in-out"
      routerLink="/signup"
    >
      Sign Up
    </button>
    } @else if (currentUser.isPending()) {Loading..} @else {
    <button
      routerLink="/uploads/new"
      class="font-LotaGrotesque w-fit ring-1 ring-gray-300 hover:ring-gray-400 focus:ring-gray-400 font-semibold rounded-full text-sm px-6 py-3 transition-all duration-200 ease-in-out"
    >
      Share work
    </button>
    <ngx-popover [bindTo]="profile" [placement]="'bottom-end'">
      <div #profile class="size-12">
        <img
          class="w-full h-full object-cover rounded-full cursor-pointer"
          src="{{ currentUser.data()!.profile.avatar_url }}"
          alt=""
          onerror="this.src = `https://cdn.dribbble.com/users/2125326/screenshots/5983063/media/e1a717a9c3c683ce0f3ab85eec7db184.png?resize=1200x900&vertical=center`"
        />
      </div>
      <ng-template ngx-popover-template>
        <div
          class="w-fit h-fit px-5 py-6 bg-white rounded-md shadow-2xl shadow-gray-200 ring-1 ring-gray-100 items-start justify-start flex flex-col gap-4 mt-4"
        >
          <div
            class="text-center px-16 flex flex-col items-center gap-2"
            routerLink="/{{ currentUser.data()!.username }}"
          >
            <div class="size-16">
              <img
                class="w-full h-full object-cover rounded-full cursor-pointer"
                src="{{ currentUser.data()!.profile.avatar_url }}"
                alt=""
                onerror="this.src = `https://cdn.dribbble.com/users/2125326/screenshots/5983063/media/e1a717a9c3c683ce0f3ab85eec7db184.png?resize=1200x900&vertical=center`"
                pTooltip="Click here to view your profile"
                tooltipPosition="left"
                fitContent="true"
                autoHide="false"
                positionLeft="-8"
                showDelay="1000"
                life="2500"
              />
            </div>
            <p class="font-LotaGrotesque font-semibold text-lg cursor-pointer">
              {{ currentUser.data()!.username }}
            </p>
          </div>
          <div class="flex flex-col w-full gap-3">
            <p
              class="font-LotaGrotesque font-light text-base cursor-pointer hover:text-gray-700 transition-all duration-200 ease-in-out"
              routerLink="uploads/new"
            >
              Upload project
            </p>
            <p
              class="font-LotaGrotesque font-light cursor-pointer hover:text-gray-700 transition-all duration-200 ease-in-out"
              routerLink="account/general"
            >
              Settings
            </p>
          </div>
          <div class="border-t-[1px] border-solid border-gray-300 w-full"></div>
          <a
            class="font-IBMPlexMono font-semibold text-base cursor-pointer text-red-500 hover:text-red-400 transition-all duration-200 ease-in-out"
            (click)="this.onLogout()"
          >
            Sign out
          </a>
        </div>
      </ng-template>
    </ngx-popover>
    }
  </div>
</section>
