<p-toast></p-toast>
<lr-config
  ctx-name="profile-img-uploader"
  pubkey="b01621af943855bada8a"
  max-local-file-size-bytes="10000000"
  multiple="false"
  img-only="true"
  source-list="local, url, camera"
  removeCopyright="true"
  use-cloud-image-editor="false"
></lr-config>

<lr-upload-ctx-provider
  ctx-name="profile-img-uploader"
  #ctxProvider
></lr-upload-ctx-provider>

<section
  class="h-fit flex flex-col gap-5 items-center content-center flex-grow"
>
  @if (currentProfile.isError()) {
  <h1>Error</h1>
  } @else if (currentProfile.isPending()) {
  <h1>Loading</h1>
  } @else {
  <div class="flex flex-col items-start w-full content-start">
    <form
      [formGroup]="updateCurrentProfileDataForm"
      (ngSubmit)="onSubmitUpdateSocialProfile()"
      class="flex flex-col gap-4 xs:gap-10 w-full"
    >
      <div class="flex flex-col gap-4 xs:gap-6 w-full">
        <fieldset class="flex flex-col gap-2 w-full">
          <label
            class="font-LotaGrotesque font-medium text-md text-black"
            for="twitter_url"
            >Twitter</label
          >
          <input
            formControlName="twitter_url"
            class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
            type="text"
            ngModel="{{ currentProfile.data()?.twitter_url }}"
          />
        </fieldset>
        <fieldset class="flex flex-col gap-2 w-full">
          <label
            class="font-LotaGrotesque font-medium text-md text-black"
            for="facebook_url"
            >Facebook</label
          >
          <input
            formControlName="facebook_url"
            class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
            type="text"
            ngModel="{{ currentProfile.data()?.facebook_url }}"
          />
        </fieldset>
        <fieldset class="flex flex-col gap-2 w-full">
          <label
            class="font-LotaGrotesque font-medium text-md text-black"
            for="instagram_url"
            >Instagram</label
          >
          <input
            formControlName="instagram_url"
            class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
            type="text"
            ngModel="{{ currentProfile.data()?.instagram_url }}"
          />
        </fieldset>
      </div>
      <fieldset class="flex flex-col gap-2 w-full">
        <label
          class="font-LotaGrotesque font-medium text-md text-black"
          for="github_url"
          >GitHub</label
        >
        <input
          formControlName="github_url"
          class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
          type="text"
          ngModel="{{ currentProfile.data()?.github_url }}"
        />
      </fieldset>
      <div class="flex flex-col gap-4 xs:gap-6 w-full">
        <fieldset class="flex flex-col gap-2 w-full">
          <label
            class="font-LotaGrotesque font-medium text-md text-black"
            for="behance_url"
            >Behance</label
          >
          <input
            formControlName="behance_url"
            class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
            type="text"
            ngModel="{{ currentProfile.data()?.behance_url }}"
          />
        </fieldset>
        <fieldset class="flex flex-col gap-2 w-full">
          <label
            class="font-LotaGrotesque font-medium text-md text-black"
            for="linkedIn_url"
            >LinkedIn</label
          >
          <input
            formControlName="linkedIn_url"
            class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
            type="text"
            ngModel="{{ currentProfile.data()?.linkedIn_url }}"
          />
        </fieldset>
      </div>
      <fieldset class="flex flex-col gap-2 w-full">
        <label
          class="font-LotaGrotesque font-medium text-md text-black"
          for="vimeo_url"
          >Vimeo</label
        >
        <input
          formControlName="vimeo_url"
          class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
          type="text"
          ngModel="{{ currentProfile.data()?.vimeo_url }}"
        />
      </fieldset>

      <div class="w-full">
        <button
          type="submit"
          class="float-right font-LotaGrotesque w-fit ring-1 text-white bg-gray-950 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-full text-sm px-6 py-3 dark:bg-gray-950 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700 font-semibold transition-all duration-200 ease-in-out"
        >
          Update Social Profiles
        </button>
      </div>
    </form>
  </div>
  }
</section>
