<p-toast></p-toast>

<section
  class="h-fit flex flex-col gap-5 items-center content-center flex-grow"
>
  @if (currentUser.isError()) {
  <h1>Error</h1>
  } @else if (currentUser.isPending()) {
  <h1>Loading</h1>
  } @else {
  <div class="flex flex-col items-start w-full content-start">
    <form
      [formGroup]="updateUserPasswordForm"
      (ngSubmit)="onSubmitUpdateCurrentPassword()"
      class="flex flex-col gap-4 xs:gap-6 w-full"
    >
      <fieldset class="flex flex-col gap-2 w-full">
        <label
          class="font-LotaGrotesque font-medium text-base text-black flex flex-row justify-between"
          for="oldPassword"
          ><span
            >Old password<span class="text-red-300 font-LotaGrotesque ml-0.5"
              >*</span
            ></span
          >
          @if (formControls['oldPassword'].invalid && (isFormSubmitted ||
          formControls['oldPassword'].touched ||
          formControls['oldPassword'].dirty)) { @if
          (formControls['oldPassword'].errors?.['required']) {
          <p class="font-LotaGrotesque text-sm font-normal text-red-400">
            Password can't be blank
          </p>
          }}
        </label>

        <input
          formControlName="oldPassword"
          class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
          type="password"
        />
      </fieldset>
      <fieldset class="flex flex-col gap-2 w-full">
        <label
          class="font-LotaGrotesque font-medium text-base text-black flex flex-row justify-between"
          for="newPassword"
          ><span
            >Password<span class="text-red-300 font-LotaGrotesque ml-0.5"
              >*</span
            ></span
          >

          @if (formControls['newPassword'].invalid && (isFormSubmitted ||
          formControls['newPassword'].touched ||
          formControls['newPassword'].dirty)) { @if
          (formControls['newPassword'].errors?.['required']) {
          <p class="font-LotaGrotesque text-sm font-normal text-red-400">
            Password can't be blank
          </p>
          }@if (formControls['newPassword'].errors?.['minlength']) {
          <p class="font-LotaGrotesque text-sm font-normal text-red-400">
            Password is too short
          </p>
          } @else if (formControls['newPassword'].errors?.['maxlength']) {
          <p class="font-LotaGrotesque text-sm font-normal text-red-400">
            Whoa there, are you trying to set a Guinness World Record for the
            longest password? I admire the ambition, but let's keep it within
            reasonable limits, shall we?
          </p>
          } }
        </label>
        <input
          formControlName="newPassword"
          class="ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] focus:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
          type="password"
        />
        <p class="font-LotaGrotesque text-sm font-normal text-gray-400">
          Minimum 8 characters
        </p>
      </fieldset>

      <div class="w-full">
        <button
          type="submit"
          class="float-right font-LotaGrotesque w-fit ring-1 text-white bg-gray-950 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-full text-sm px-6 py-3 dark:bg-gray-950 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700 font-semibold transition-all duration-200 ease-in-out"
        >
          Change
        </button>
      </div>
    </form>
  </div>
  }
</section>
