<section class="flex flex-col gap-2">
  @if (label || limit) {
  <label
    class="font-LotaGrotesque font-medium text-base text-black"
    for="identifier"
  >
    <div class="flex flex-row justify-between items-center">
      @if (label) {
      <p>{{ label }}</p>
      } @if (limit) {
      <div class="w-full flex flex-row justify-end">
        <p
          class="font-IBMPlexMono text-[0.6rem] font-medium"
          [ngClass]="isLengthValid() ? 'text-gray-500' : 'text-red-500'"
        >
          {{ charactersEntered }}/{{ limit }}
        </p>
      </div>
      }
    </div>
  </label>
  }

  <textarea
    [maxLength]="limit ? limit : 2046"
    (input)="changeTextareaValue($event)"
    class="min-h-28 resize-y ring-[1.5px] ring-[#e7e7e9] hover:shadow-[0_0_0_6px_rgba(234,100,217,0.1)] font-IBMPlexMono font-normal leading-6 xs:leading-7 text-xs xs:text-sm w-full h-fit rounded-lg xs:rounded-xl px-4 xs:px-5 py-2 xs:py-2 transition-all duration-200 ease-in-out"
    type="text"
    [value]="modelValue"
  ></textarea>
</section>
